{{#if confident}}
  We made it!
{{else}}
  {{response}}
{{/if}}
<h3><button {{action "fistBump"}}>FIST BUMP</button></h3>
<h3><button {{action "sendMessageToBackground"}}>SAY HI BACKGROUND.JS</button></h3>